<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Todo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="todo">
  <form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label color="primary">タイトル</ion-label>
        <ion-input
          type="text"
          placeholder="タイトル"
          [(ngModel)]="todo.title"
          class="form-control"
          name="title"
          #title="ngModel" ngModel
          maxlength="10"
          minlength="2"
          required
        ></ion-input>
      </ion-item>
      <validator [target]="title"></validator>
      <ion-card>
        <ion-card-content>
          <ion-textarea
            cols="1"
            rows="5"
            placeholder="メモを入力"
            name="text"
            [(ngModel)]="todo.text"
          >{{todo.text}}</ion-textarea>
        </ion-card-content>
      </ion-card>

      <ion-slides #slider pager *ngIf="todo.images.length > 0">
        <ion-slide *ngFor="let image of todo.images">
          <img [src]="image.src"/>
        </ion-slide>
      </ion-slides>
      <p>
        <a ion-button round icon-only block *ngIf="!platForm.is('core')" (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>
        </a>
      </p>
      <ion-item>
        <ion-label>Done</ion-label>
        <ion-checkbox
          name="done"
          [(ngModel)]="todo.done"
        >
        </ion-checkbox>
      </ion-item>

    </ion-list>
    <ion-buttons *ngIf="platForm.is('core')">
      <button ion-button outline round icon-start (click)="goBack()">戻る</button>
      <button ion-button round icon-end [disabled]="!todoForm.valid">保存する</button>
    </ion-buttons>
  </form>
</ion-content>
<ion-footer *ngIf="!platForm.is('core')">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-left color="royal" (click)="goBack()">
        <ion-icon name="ios-backspace-outline" style="zoom:2.0;"></ion-icon>
        戻る
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right color="royal" [disabled]="!!todoForm && !todoForm.valid" (click)="onSubmit(todoForm)">
        保存
        <ion-icon name="ios-add-circle-outline" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
