page-home {

}
.list-group-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}
.active {
  background-color: rgba(48, 48, 48, 0.8);
}
.row.selected {
  background-color: #c4cdd4;
}
.row-buffer {
  margin:20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding-top: 15px;
}
.btn-group-sm > .btn, .btn-micro {
  padding: 0px;
  font-size: 12px;
  line-height: 1.5;
  border: none;
  margin: -10px -5px 0 10px;
}
.text-selected-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
