<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todoリスト</ion-title>
  </ion-navbar>

  <app-todo-search [(term)]="term"></app-todo-search>

  <ion-toolbar>
    <ion-segment [(ngModel)]="currentList">
      <ion-segment-button value="getTodoItems" (click)="getTodoItems()">
        All
      </ion-segment-button>
      <ion-segment-button value="getFinishItems" (click)="getFinishItems()">
        Done
      </ion-segment-button>
      <ion-segment-button value="getUnFinishItems" (click)="getUnFinishItems()">
        Undo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list
    appListenKeys="Escape ShiftLeft"
    (keyupAction)="cancel($event)"
    (keyhoverAction)="$event === 'ShiftLeft' ? list_hold = true : list_hold = false"
  >
    <hr style="border-top-color: black">
    <ion-item-sliding
      *ngFor="let todo of todoItems | orderby: 'import_time':'desc'"
      [ngClass]="{'removed-item': !!todo.deleted, 'active': todo.is_checked}"
      (mouseup)="onTodoUp(todo, $event);"
      (mousedown)="onTodoHold()"
      [class.selected]="list_hold"
    >
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="todo.images[0].src" *ngIf="todo.images.length > 0">
          <img src="./assets/img/images.jpg" *ngIf="todo.images.length === 0">
        </ion-thumbnail>
        <h2>{{todo.title}}</h2>
        <p>{{todo.text}}</p>
        <ion-buttons end>
          <button ion-button color="danger" clear icon-only>
            <ion-icon name='trash' is-active="false"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>

    <div *ngIf="list_hold">
      <button class="pull-right btn-sm" appBSButton (click)="allDone()">Done</button>
      <button class="pull-right btn-sm" appBSButton="warning" (click)="allUndo()">Undo</button>
      <button class="pull-right btn-sm" appBSButton="danger" (click)="allDelete()">Delete</button>
    </div>
  </ion-list>
</ion-content>
