<div *ngIf="target.errors && target.dirty">
  <span
    *ngIf="!!target.errors.required"
    class="text-danger"
  >必須項目
  </span>
  <span
    *ngIf="!!target.errors.maxlength"
    class="text-danger"
  >最大文字数：{{target.errors.maxlength.requiredLength}}
  </span>
  <span
    *ngIf="!!target.errors.minlength"
    class="text-danger"
  >最小文字数：{{target.errors.minlength.requiredLength}}
    </span>
  <span
    *ngIf="!!target.errors.pattern"
    class="text-danger"
  >{{target.errors.pattern.requiredPattern}}
    </span>
</div>
